<!DOCTYPE html>
<html lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/htmlHead :: head"></th:block> /*/-->
    <title>About Us</title>
</head>
<body>
    <!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>About Us</h1>
                <p>Interesting stuff about us goes here.....</p>
            </div>
        </div>
    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>